<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>定位轨迹</title>
       	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" type="text/css" href="./dist/iui-view.css">
        <script type="text/javascript" src="./dist/vue.min.js"></script>
        <style type="text/css">
            html, body, #app {
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }
            .ivu-layout {
                height: 100%;
            }
            .ivu-layout-content {
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            <div style="width:800px;height:300px">
                <iui-upload multiple
        type="drag"
        action="//jsonplaceholder.typicode.com/posts/">
        <div style="padding: 20px 0">
            <iui-icon type="ios-cloud-upload" size="52" style="color: #3399ff"></iui-icon>
            <p>Click or drag files here to upload</p>
        </div>
                </iui-upload>

                <iui-button type="primary" @click="modal1 = true">Display dialog box</iui-button>
    <iui-modal
        v-model="modal1"
        title="Common Modal dialog box title">
        <p>Content of dialog</p>
        <p>Content of dialog</p>
        <p>Content of dialog</p>
    </iui-modal>


            </div>
<!--             <iui-layout>
                <iui-sider title="黄奇测试" :collapsible="true">
                    <iui-aweicon name="refresh" spin></iui-aweicon>
                    <iui-row :gutter="10">
                        <iui-col span="8">
                            <iui-button type="primary">前一天</iui-button>
                        </iui-col>
                        <iui-col span="8">
                            <iui-datepicker></iui-datepicker>
                        </iui-col>
                        <iui-col span="8">
                            <iui-button type="primary">后一天</iui-button>
                        </iui-col>
                    </iui-row>
                    <iui-aweicon name="refresh" spin></iui-aweicon>
                    <iui-row :gutter="10">
                        <iui-col span="8">
                            <iui-button type="primary">前一天</iui-button>
                        </iui-col>
                        <iui-col span="8">
                            <iui-datepicker></iui-datepicker>
                        </iui-col>
                        <iui-col span="8">
                            <iui-button type="primary">后一天</iui-button>
                        </iui-col>
                    </iui-row>
                    <iui-radiogroup v-model="animal">
                        <iui-radio label="金斑蝶"></iui-radio>
                        <iui-radio label="爪哇犀牛"></iui-radio>
                        <iui-radio label="印度黑羚"></iui-radio>
                    </iui-radiogroup>
                    <iui-checkboxgroup v-model="disabledGroup">
                        <iui-checkbox label="香蕉" disabled></iui-checkbox>
                        <iui-checkbox label="苹果" disabled></iui-checkbox>
                        <iui-checkbox label="西瓜"></iui-checkbox>
                    </iui-checkboxgroup>
                    <iui-switch size="large">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </iui-switch>
                    <iui-switch size="large">
                        <span slot="open">ON</span>
                        <span slot="close">OFF</span>
                    </iui-switch>
                    <iui-select v-model="model1" style="width:100px">
                        <iui-option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</iui-option>
                    </iui-select>
                    <iui-datepicker type="datetime" placeholder="Select date and time" style="width: 100px"></iui-datepicker>
                     <iui-button type="primary">Primary</iui-button>
                </iui-sider>
                <iui-content style="width:100%;height:100%">
                    <iui-map :zoom=12 :center="[32.413220, 105.219482]">
                        <iui-marker :lat-lng="[32.413220, 105.219482]" @l-click="alert()"></iui-marker>
                            <iui-polyline v-for="item in polylines" :key="item.id" :lat-lngs="item.points" :visible="item.visible" @l-click="alert(item)"></iui-polyline>
                    </iui-map>
                </iui-content>
                <iui-sider :collapsible="true" title="黄奇测试" :show-title="true" :default-collapsed="false" align="right">
                    <iui-aweicon name="refresh" spin></iui-aweicon>
                    <iui-row :gutter="10">
                        <iui-col span="8">
                            <iui-button type="primary">前一天</iui-button>
                        </iui-col>
                        <iui-col span="8">
                            <iui-datepicker></iui-datepicker>
                        </iui-col>
                        <iui-col span="8">
                            <iui-button type="primary">后一天</iui-button>
                        </iui-col>
                    </iui-row>
                    <iui-aweicon name="refresh" spin></iui-aweicon>
                    <iui-row :gutter="10">
                        <iui-col span="8">
                            <iui-button type="primary">前一天</iui-button>
                        </iui-col>
                        <iui-col span="8">
                            <iui-datepicker></iui-datepicker>
                        </iui-col>
                        <iui-col span="8">
                            <iui-button type="primary">后一天</iui-button>
                        </iui-col>
                    </iui-row>
                    <iui-radiogroup v-model="animal">
                        <iui-radio label="金斑蝶"></iui-radio>
                        <iui-radio label="爪哇犀牛"></iui-radio>
                        <iui-radio label="印度黑羚"></iui-radio>
                    </iui-radiogroup>
                    <iui-checkboxgroup v-model="disabledGroup">
                        <iui-checkbox label="香蕉" disabled></iui-checkbox>
                        <iui-checkbox label="苹果" disabled></iui-checkbox>
                        <iui-checkbox label="西瓜"></iui-checkbox>
                    </iui-checkboxgroup>
                    <iui-switch size="large">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </iui-switch>
                    <iui-switch size="large">
                        <span slot="open">ON</span>
                        <span slot="close">OFF</span>
                    </iui-switch>
                    <iui-select v-model="model1" style="width:100px">
                        <iui-option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</iui-option>
                    </iui-select>
                    <iui-datepicker type="datetime" placeholder="Select date and time" style="width: 100px"></iui-datepicker>
                     <iui-button type="primary">Primary</iui-button>
                </iui-sider>
            </iui-layout> -->
 <!--            <iui-layout right right-title="右边标题" right-width="240">
                <div slot="right">
                    <iui-aweicon name="refresh" spin></iui-aweicon>
                    <iui-row :gutter="10">
                        <iui-col span="8">
                            <iui-button type="primary">前一天</iui-button>
                        </iui-col>
                        <iui-col span="8">
                            <iui-datepicker></iui-datepicker>
                        </iui-col>
                        <iui-col span="8">
                            <iui-button type="primary">后一天</iui-button>
                        </iui-col>
                    </iui-row>
                    <iui-radiogroup v-model="animal">
                        <iui-radio label="金斑蝶"></iui-radio>
                        <iui-radio label="爪哇犀牛"></iui-radio>
                        <iui-radio label="印度黑羚"></iui-radio>
                    </iui-radiogroup>
                    <iui-checkboxgroup v-model="disabledGroup">
                        <iui-checkbox label="香蕉" disabled></iui-checkbox>
                        <iui-checkbox label="苹果" disabled></iui-checkbox>
                        <iui-checkbox label="西瓜"></iui-checkbox>
                    </iui-checkboxgroup>
                    <iui-switch size="large">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </iui-switch>
                    <iui-switch size="large">
                        <span slot="open">ON</span>
                        <span slot="close">OFF</span>
                    </iui-switch>
                    <iui-select v-model="model1" style="width:100px">
                        <iui-option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</iui-option>
                    </iui-select>
                    <iui-datepicker type="datetime" placeholder="Select date and time" style="width: 100px"></iui-datepicker>
                     <iui-button type="primary">Primary</iui-button>
                </div>
            </iui-layout> -->
        </div>
    	<script type="text/javascript" src="./dist/iui-view.min.js"></script>
        <script type="text/javascript">
            new Vue({
                el: '#app',
                data: {
                    modal1: false,
                    defaultMsg: '这里是UE测试',
        config: {
          initialFrameWidth: null,
          initialFrameHeight: 350
        },
                    animal: '爪哇犀牛',
                    disabledGroup: ['苹果'],
                    polylines: [{id: 1, points: [[32.413220, 111.219482],[32.213220, 113.219482],[32.413220, 112.919482],[32.413220, 114.219482]], visible: true}],
                    cityList: [
                    {
                        value: 'New York',
                        label: 'New York'
                    },
                    {
                        value: 'London',
                        label: 'London'
                    },
                    {
                        value: 'Sydney',
                        label: 'Sydney'
                    },
                    {
                        value: 'Ottawa',
                        label: 'Ottawa'
                    },
                    {
                        value: 'Paris',
                        label: 'Paris'
                    },
                    {
                        value: 'Canberra',
                        label: 'Canberra'
                    }
                ],
                model1: ''
                },
                methods: {
                }       
            });
        </script>
	</body>
</html>